@import './global/base';

/**Back button Styling**/
.back {
  font-weight: 600;
  padding: 5px 26px;
  font-size: 12px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 22px;
  transition: all 0.35s ease-out;

  svg {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
}

/***Styling For Light Mode ***/
[data-bs-theme='light'] {
  background-color: var(--light-bg);
  color: var(--light-text);

  .card {
    background: #fff;
  }

  nav {
    background: #fff;
    -webkit-box-shadow: 2px 2px 2px #e1dddd;
    box-shadow: 2px 2px 2px #e1dddd;
  }

  .border {
    -webkit-box-shadow: 2px 2px 2px #e1dddd;
    box-shadow: 2px 2px 2px #e1dddd;

    a {
      color: var(--light-text);
    }
  }

  .border,
  .back {
    background: var(--light-bg);
    border: 1px solid var(--light-bg);
  }

  .back {
    -webkit-box-shadow: 0px 1px 5px 4px #e1dddd;
    box-shadow: 0px 1px 5px 4px #e1dddd;
  }

  .border:hover,
  .back:hover {
    background-color: #254260;
    color: var(--light-bg);
  }

  .options,
  .select-box {
    background-color: var(--light-bg);
    border: 1px solid var(--light-elements);
    -webkit-box-shadow: 3px 1px 5px 1px #e1dddd;
    box-shadow: 3px 1px 5px 1px #e1dddd;
    color: var(--light-text);
  }

  #target {
    background-color: var(--light-bg);
    border: 1px solid var(--light-elements);
    -webkit-box-shadow: 3px 1px 5px 1px #e1dddd;
    box-shadow: 3px 1px 5px 1px #e1dddd;
  }

  .input-group:focus-within {
    border: 1px solid var(--light-elements);
    box-shadow: 2px 2px 0px #e1dddd;
    -webkit-box-shadow: 3px 1px 5px 1px #e1dddd;
    background-color: #e1dddd;

    .icon {
      color: #333;
      background-color: #fff;
    }
  }

  .alert {
    color: var(--light-text);
  }

  .selected {
    background-color: var(--dark-elements);
    color: var(--dark-text);
  }
}

/***Styling For dark Mode ***/
[data-bs-theme='dark'] {
  background-color: var(--dark-bg);

  color: var(--dark-text);

  .card {
    background: var(--dark-bg);
  }

  nav {
    background: #2b3743;
    -webkit-box-shadow: 2px 2px 2px #191f25;
    box-shadow: 2px 2px 2px #191f25;
  }

  .border,
  .back {
    border: 1px solid var(--dark-bg);
    background: #2b3743;
  }

  .border {
    a {
      color: var(--dark-text);
    }
  }

  .back {
    box-shadow: 0px 1px 5px 4px #191f25;
    -webkit-box-shadow: 0px 1px 5px 4px #191f25;
  }

  .border:hover,
  .back:hover {
    background-color: var(--light-bg);
    color: var(--dark-bg);
  }

  .options,
  .select-box {
    background-color: var(--dark-elements);
    border: 1px solid var(--dark-elements);
    color: var(--dark-text);
    -webkit-box-shadow: 3px 1px 5px 1px #191f25;
    box-shadow: 3px 1px 5px 1px #191f25;
  }

  #target {
    background-color: var(--dark-elements);
    border: 1px solid var(--dark-elements);
    color: var(--dark-text);
    -webkit-box-shadow: 3px 1px 5px 1px #191f25;
    box-shadow: 3px 1px 5px 1px #191f25;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .alert {
    color: var(--dark-text);
  }

  .selected {
    background-color: var(--light-elements);
    color: var(--light-text);
  }

  label {
    color: var(--light-text);
  }

  .input-group:focus-within {
    input {
      border: 1px solid var(--light-elements);
      box-shadow: 2px 2px 0px #e1dddd;
      -webkit-box-shadow: 3px 1px 5px 1px #e1dddd;
      background-color: #e1dddd;
    }
  }
}

/****** Media Queries **********/
@media (min-width: 768px) {
  .back {
    padding: 5px 35px;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 20px;

    svg {
      margin-top: 5px;
      margin-right: 5px;
      font-size: 10px;
    }
  }
}

input:focus+label {
  transform: translateY(50%);
  opacity: 0;
  transition: all 0.2s ease-out;
}
